<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/console.css">
    <script src="../libs/axios.js"></script>
    <script src="../libs/sweetalert2@11.js"></script>
    <script src="../libs/sw2.js"></script>
    <script src="../libs/error_manager.js"></script>
    <script src="../libs/storage_manager.js"></script>
    <script src="../libs/watchers.js"></script>
    <script src="../libs/store.js"></script>


    <title>CONSOLE</title>
</head>

<body>

    <div id="root"></div>



    <!-- <h3 aria-watch="user" aria-prop="text" id="user"></h3>


    <img aria-watch="user" aria-prop="src" id="user-img" src="" alt=""> -->



    <script src="../console_js/squema.jsx"></script>
    <script src="../console_js/start.jsx"></script>
    <script src="../console_js/console.jsx"></script>




    <div id="controllers">
        <script src="../console_js/controllers/preview_control.js"></script>
    </div>

</body>

</html>